createdAt: "2020-04-20T09:49:59.279Z"
updatedAt: "2020-04-20T09:50:23.315Z"
type: "MARKDOWN_NOTE"
folder: "9ad80de19db7094b8e38"
title: "qsoidhpfoiqshdf"
tags: []
content: "qsoidhpfoiqshdf"
linesHighlighted: []
isStarred: false
isTrashed: true
