.page{
    font-family: 'Arial';
    margin-left: 5%;
    margin-right: 5%;
}

/*HEADER*/
header{
    height: 5%;
    border-bottom: 2px solid #FF5755;
}
footer{
    margin-top: 5%;
    text-align: center;
}

/*TEXTS*/
h1{
    text-align: center;
    color: #283747;
    font-size: 3rem;
}

h2{
    text-align: center;
    color: #154360;
    font-size: 2rem;
}

h3{
    text-align: center;
    color: #154360;
    font-size: 1.5rem;
}