createdAt: "2020-04-20T12:22:20.860Z"
updatedAt: "2020-04-20T12:47:11.411Z"
type: "MARKDOWN_NOTE"
folder: "83aed19ab1cc1b71a368"
title: "RGPD"
tags: []
content: '''
  # RGPD
  
  ## Anonymisation des données 
  Importance de l'***anonymisation*** ou la ***pseudonymisation*** dans les données, même au sein d'une entreprise. Tous le monde n'a pas accès aux mêmes infos, mais peut avoir besoin de s'en servir. 
  
  ## Justifier l'utilisation des données
  Que ce soit pour leur récolte ou leur utilisation.
  > *e.g.,* on n'a pas accès aux mêmes données si on travaille sur la fraude ou le marketing. 
  
  **Lastpass** app pour gestion des mdp
'''
linesHighlighted: []
isStarred: false
isTrashed: false
