createdAt: "2020-04-20T12:22:20.860Z"
updatedAt: "2020-04-20T12:22:39.625Z"
type: "MARKDOWN_NOTE"
folder: "3d5314e2ad6aee76b0e8"
title: "Note #1"
tags: []
content: '''
  # Note #1
  
  Test note to github
'''
linesHighlighted: []
isStarred: false
isTrashed: false
