createdAt: "2020-04-21T07:56:09.077Z"
updatedAt: "2020-04-21T08:04:58.555Z"
type: "MARKDOWN_NOTE"
folder: "3d5314e2ad6aee76b0e8"
title: "Hackathon #1"
tags: []
content: '''
  # Hackathon #1
  
  ## Equipe :
  - Hélène 
  - Souhail
  - Eryck
  - Sébastien
  - ?
  
  ## Sujet : 
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
